body {
    text-align: center;
    margin: 0 auto;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-decoration-line: underline;
}

.floated-img {
    height: 50px;
    width: auto;
    float: left;
    padding-right: 10px;
}

nav {
    margin: auto;
    padding: 2px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    position: -webkit-sticky; /* saw something about this for browser compatibility */
    top: 0;
}

nav a {
    flex: auto;
    padding: 20px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: dimgrey;
}


p {
    margin: 0 auto;
    width: 800px;
    text-align: center;
    padding: 5px;
}

img {
    padding: 5px;
}

main, aside {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

#articles {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#articles h3 {
    text-align: center;
}

#articles preview-box {
    flex: auto;
    text-align: left;
    padding: 20px;
}

[href] {
    font-size: medium;
}

#events {
    margin-right: auto; 
    margin-left: auto; 
    border: 1px solid black
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

#post-listing {
    font-size: 20px;
}

.top-ten {
    list-style-position: inside;
    text-indent: -40px;
}

.back-button {
    margin-top: 5px;
    padding: 5px;
}

.unindent-ul {
    list-style: none; 
    text-indent: -40px;
}

#comment-label {
    vertical-align: top;
}

#comment {
    vertical-align: middle;
}

aside h1, h2, h3 {
    text-decoration-line: underline;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact-form form-item {
    flex: auto;
}